{
  "openapi": "3.0.3",
  "info": {
    "title": "Guardian API",
    "description": "API documentation for Guardian.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gardianai.com/api/v1"
    }
  ],
  "paths": {
    "/agents/{agentId}/analyze/text": {
      "post": {
        "tags": [
          "Analyze"
        ],
        "summary": "Send text content to an agent",
        "description": "Send content to a specified agent using their agent ID.",
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to send feedback to."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "example": "I don't like your products",
                    "maxLength": 1000,
                    "description": "The text you'd like to analyze. Limit 1000 characters."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "example": "66683c760ea17e1c58a16649",
                      "description": "ID of the agent that performs the analysis."
                    },
                    "agent_name": {
                      "type": "string",
                      "example": "Sentiment",
                      "description": "Name of the agent that performs the analysis."
                    },
                    "content": {
                      "type": "string",
                      "example": "I don't like your products",
                      "description": "Content sent for analysis."
                    },
                    "label": {
                      "type": "string",
                      "example": "negative",
                      "description": "The label with the highest probability. This will always be the label with the highest score."
                    },
                    "score": {
                      "type": "number",
                      "example": 0.98,
                      "description": "The label score, ranging from 0 to 1, with 1 indicating a high probability of being correct."
                    },
                    "label_scores": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      },
                      "description": "An object that includes the scores for all labels.",
                      "example": {
                        "positive": 0,
                        "neutral": 0,
                        "negative": 0.98
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/agents/{agentId}/analyze/image": {
      "post": {
        "tags": [
          "Analyze"
        ],
        "summary": "Send image to an agent",
        "description": "Send image to a specified agent using their agent ID.",
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to send feedback to."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string",
                    "example": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Tabby_cat_with_visible_nictitating_membrane.jpg/800px-Tabby_cat_with_visible_nictitating_membrane.jpg",
                    "description": "Url of the image you'd like to analyze"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string",
                      "example": "66683c760ea17e1c58a16649"
                    },
                    "agent_name": {
                      "type": "string",
                      "example": "Image NSFW"
                    },
                    "image_url": {
                      "type": "string",
                      "example": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Tabby_cat_with_visible_nictitating_membrane.jpg/800px-Tabby_cat_with_visible_nictitating_membrane.jpg"
                    },
                    "label": {
                      "type": "string",
                      "example": "neutral"
                    },
                    "score": {
                      "type": "number",
                      "example": 1
                    },
                    "label_scores": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      },
                      "example": {
                        "gore": 0,
                        "nudity": 0,
                        "suggestive": 0,
                        "alcohol": 0,
                        "violence": 0,
                        "hate": 0,
                        "smoking": 0,
                        "drugs": 0,
                        "weapon": 0,
                        "neutral": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}